<div class="header">
  <div><img src="https://aviator-demo.spribegaming.com/aviator-logo.cafbd29233306bf7.svg" alt=""></div>
  <div class="how-to-play">
    <img src="https://aviator-demo.spribegaming.com/question-brown.7770399d23b5438d.svg" alt="">
    <span>Cómo jugar?</span>
  </div>
  <div class="balance ml-auto"><span>{{ balance.toFixed(2) }}</span> USD</div>
</div>
<div class="body">
  <div class="graph-body">
    <div class="coefficient" style="display: flex; align-items: center;">
      <ng-container *ngIf="!isClickedHistory">
        <div class="coeff-list-test" style="width: 100%">
          <ng-container *ngFor="let coeff of coefficientList.slice(0, 16)">
            <div class="item" [ngClass]="{
        'low': coeff.coefficient < 3.1,
        'middle': coeff.coefficient >= 3.1,
        'high': coeff.coefficient >= 4}">
              {{ coeff.coefficient | number: '1.2-2' }}x
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="isClickedHistory">
        <div class="opened-history" style="margin-left: 10px">
          <div class="header-history">
            <span>HOSTORIA DE LA RONDA</span>
            <div class="history-btn" *ngIf="isClickedHistory" (click)="handleClickHistory()">
              <img src="https://aviator-demo.spribegaming.com/history-h.0950ae774061ee87.svg" alt="">
              <img class="arrow" src="https://aviator-demo.spribegaming.com/dd-h.45c1ff176d95fe5d.svg" alt="">
            </div>
          </div>
          <div class="body-history">
            <ng-container *ngFor="let coeff of coefficientList">
              <div class="item" style="flex-grow: 0" [ngClass]="{
        'low': coeff.coefficient < 2,
        'middle': coeff.coefficient >= 2 && coeff.coefficient < 10,
        'high': coeff.coefficient >= 10}">
                {{ coeff.coefficient | number: '1.2-2' }}x
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <div class="history-btn" *ngIf="!isClickedHistory" (click)="handleClickHistory()">
        <img src="https://aviator-demo.spribegaming.com/history-h.0950ae774061ee87.svg" alt="">
        <img class="arrow {{isClickedHistory ? 'rot' : ''}}"
             src="https://aviator-demo.spribegaming.com/dd-h.45c1ff176d95fe5d.svg" alt="">
      </div>
    </div>
    <div class="graph">
      <div *ngIf="isFlewAway" class="flex-away"
           style="text-align: center;z-index: 10;display: flex;flex-direction: column;font-size: 50px">
        <span class="p" style="font-size: 30px;color: white">¡SE FUE VOLANDO! </span>
        <span class="color-red s" style="text-align: center">{{ currentGame.coefficient.toFixed(2) }}x</span>
      </div>
      <div class="sum" [ngClass]="{'color-red': isFlewAway}">
        <ng-container *ngIf="!isFlewAway && !showLoading">
          {{ startCoefficient.toFixed(2) }}x
        </ng-container>
      </div>
      <ng-container *ngIf="showLoading">
        <div class="sum"
             style="display: flex;flex-direction: column; align-items: center; justify-content: center; color: #ffffff">
          <img id="gear" src="/assets/images/prop.svg" alt="" style="margin-top: 20px;width: 120px; height: 120px;">
          <span class="loading-text" style="font-size: 32px;text-align: center;margin-top: 30px;line-height: 34px;">ESPERANDO LA PRÓXIMA RONDA</span>
          <mat-progress-bar
            style="margin-top: 20px;width: 200px; height: 30px;"
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="value"
            [bufferValue]="bufferValue">
          </mat-progress-bar>
        </div>
      </ng-container>
      <div class="lottie-new-container">
        <!-- <div class="fun-mode">MODO DIVERTIDO</div> -->
        <div style="position: relative" id="lottie-container">
          <ng-lottie
            style="position: relative;z-index: 2"
            [options]="options"
            width="100%"
            height="500px"
            (animationCreated)="animationCreated($event)"/>
          <ng-lottie
            style="position: absolute;top:0"
            [styles]="styles"
            [options]="optionBg"
            width="100%"
            height="220px"
            (animationCreated)="animationBgCreated($event)">
          </ng-lottie>
        </div>
      </div>
    </div>
    <div class="bet-buttons-1">
      <app-bet style="display:flex;justify-content: end; margin-right: 10px;width: 100%"
               className="win-1"
               [currentGame]="currentGame"
               [nextGame]="nextGame"
               [gameStatus]="gameStatus"
               [isBet]="isBet"
               [isAutoReached]="isAutoReached"
               [firstStatus]="firstStatus"
               [currentStatus]="currentStatus"
               [id]="'id1'"
               [id2]="'id2'"
               [startCoefficient]="startCoefficient"
               [isGameStarting]="isGameStarting"
               (passBalance)="onGetBalance($event)"
               (isBetExist)="onIsBetExist($event)"></app-bet>
      <app-bet style="width: 100%"
               className="win-2"
               [currentGame]="currentGame"
               [nextGame]="nextGame"
               [gameStatus]="gameStatus"
               [isBet]="isBet"
               [isAutoReached]="isAutoReached"
               [firstStatus]="firstStatus"
               [currentStatus]="currentStatus"
               [id]="'id1'"
               [id2]="'id2'"
               [startCoefficient]="startCoefficient"
               [isGameStarting]="isGameStarting"
               (passBalance)="onGetBalance($event)"
               (isBetExist)="onIsBetExist($event)"></app-bet>
    </div>
  </div>
  <div class="first-block class-table" style="width: 30%;height: 745px; overflow: hidden">
    <div class="tabs" style="display: flex; cursor: pointer; align-items: center; justify-content: space-around">
      <div class="tab-item l" [ngClass]="{'isActive': currentTabType === '1'}" (click)="handleTab('1')">Apuestas</div>
      <div class="tab-item r" [ngClass]="{'isActive': currentTabType === '2'}" (click)="handleTab('2')">Mis apuestas
      </div>
      <div class="tab-item r" [ngClass]="{'isActive': currentTabType === '3'}" (click)="handleTab('3')">Arriba</div>
    </div>
    <table style="margin-bottom: auto;">
      <thead>
      <tr style="font-size: 12px">
        <th style="width: 50px;">Usuario</th>
        <th style="width: 110px;">Apuesta USD</th>
        <th></th>
        <th style="width: 80px;">Cambiar USD</th>
      </tr>
      </thead>
      <tbody>
      <tr style="background-color: #101112;  border-radius: 10px; height: 34px"
          *ngFor="let bet of userList; let i = index" [ngClass]="{'highlight': highlightedRows.includes(i)}">
        <!--        <td style="padding: 10px">{{bet.date}}</td>-->
        <td class="left-radius" style="display: flex; align-items: center;">

          <img style="
            width: 30px;
            height: 30px;
            border-radius: 100px;"
            src="https://i.pravatar.cc/150?img={{i}}"/>
          <span>{{ bet.user }}</span></td>
        <td>{{ bet.amount }}</td>
        <td>
          <div *ngIf="highlightedRows.includes(i)" class="bubble-multiplier font-weight-bold" style="width: 50px; padding: 2px 11px; border-radius: 11px; background-color: #00000080"
               [ngClass]="{
        'low': startCoefficients[i] < 2,
        'middle': startCoefficients[i] >= 2 && startCoefficients[i] < 10,
        'high': startCoefficients[i] >= 10}"
          >

            {{ highlightedRows.includes(i) ? startCoefficients[i].toFixed(2) : '' }}
          </div>
        </td>
        <td
          class="right-radius">{{ highlightedRows.includes(i) ? (bet.amount * startCoefficients[i]).toFixed(2) : '' }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="powered">
  <span style="margin-left: 10px">Este juego es</span> <img style="margin-left: 10px"
                                                            src="https://aviator-demo.spribegaming.com/icon-provabyfair.652dcfd9d89241e2.svg"
                                                            alt=""> <span style="color: white; margin-left: 10px">Provably Fair</span>
  <span style="display:flex;margin-left: auto; margin-right: 10px">Powered by
    <img
      style="margin-left: 5px;"
    src="https://aviator-demo.spribegaming.com/logo.eba496b407593c0e.svg" alt="">
  </span>
</div>
