<div class="header">
  <div><img src="https://aviator-demo.spribegaming.com/aviator-logo.cafbd29233306bf7.svg" alt=""></div>
  <div class="balance ml-auto"><span>{{balance}}</span> USD</div>
  <div class="title" (click)="admin()">Admin</div>
</div>
<div class="body">
  <div class="coefficient">
    <ng-container *ngFor="let coeff of coefficientList">
      <div class="item" [ngClass]="{
    'low': coeff.coefficient < 2,
    'middle': coeff.coefficient >= 2 && coeff.coefficient < 10,
    'high': coeff.coefficient >= 10}">
        {{coeff.coefficient | number: '1.2-2'}}x
      </div>
    </ng-container>
  </div>
  <div class="graph">
    <div *ngIf="isFlewAway" class="flex-away">
      VOLÓ LEJOS!
    </div>
    <div class="sum" [ngClass]="{'color-red': isFlewAway}">
      <ng-container *ngIf="!showLoading">
        {{startCoefficient.toFixed(2)}}x
      </ng-container>
    </div>
    <ng-container *ngIf="showLoading">
      <div class="sum" style="display: flex;flex-direction: column; align-items: center; justify-content: center; color: #ffffff">
        <span style="font-size: 18px;text-align: center">Esperando la próxima ronda</span>
        <img src="/assets/images/loading.svg" alt="" style="width: 50px; height: 50px;">
      </div>
    </ng-container>
    <div style="position: relative">
      <ng-lottie
        style="position: relative;z-index: 2"
        [options]="options"
        width="100%"
        height="220px"
        (animationCreated)="animationCreated($event)" />
      <ng-lottie style="position: absolute;top:0"
                 [options]="optionBg"
                 width="100%"
                 height="220px" (animationCreated)="animationBgCreated($event)">
      </ng-lottie>
    </div>
  </div>
  <app-bet [isAutoReached]="isAutoReached" [firstStatus]="firstStatus" [currentStatus]="currentStatus" [id]="'id1'" [id2]="'id2'" [startCoefficient]="startCoefficient" [isGameStarting]="isGameStarting" (passBalance)="onGetBalance($event)" (passIsChecked)="onGetIsChecked($event)"></app-bet>
<!--  <app-bet [firstStatus]="firstStatus" [currentStatus]="currentStatus" [id]="'id1'" [id2]="'id2'" [startCoefficient]="startCoefficient" (passBalance)="onGetBalance($event)"></app-bet>-->
  <div class="first-block" style="margin-top: 20px;">
    <table>
      <thead>
      <tr style="font-size: 12px">
        <th>Fecha</th>
        <th>Usuario</th>
        <th>Apuesta USD</th>
        <th></th>
        <th>Retiro de efectivo USD</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bet of userList; let i = index" [ngClass]="{'highlight': highlightedRows.includes(i)}">
        <td>{{bet.date}}</td>
        <td>{{bet.user}}</td>
        <td>{{bet.amount}}</td>
        <td>{{highlightedRows.includes(i) ? startCoefficients[i].toFixed(2) : ''}}</td>
        <td>{{highlightedRows.includes(i) ? (bet.amount * startCoefficients[i]).toFixed(2) : ''}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
