.body {
  //height: 140vh;
  background-color: black;
}

.header {
  padding: 10px;
  display: flex;
  background-color: #1b1c1d;
  align-items: center;
  .title {
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
  }
  .ml-auto {
    margin-left: auto;
  }
  .balance {
    color: #ffffff;
    margin-right: 15px;
    font-size: 18px;
    span {
      color: #28a909;
    }

  }

}

.coefficient {
  display: flex;
  //justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  gap: 2px;
  .item {
    font-weight: 700;
    font-size: 12px;
  }
}
.color-red {
  color: red;
}

.win {
  cursor: default;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  color: white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-color: #123405;
  border: 1px solid #427f00;
  border-radius: 26px;
  padding: 5px;
  .win-text {
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
    span {
      font-size: 20px;
    }
  }
  .win-box {
    text-align: center;
    border-radius: 26px;
    background-color: #427f00;
    font-size: 16px;
    margin-left: auto;
    padding: 5px 10px;
    width: 150px;
    span {
      font-size: 20px;
    }
  }
}

.graph {
  margin-left: 10px;
  //border-left: 1px solid white;
  //border-bottom: 1px solid white;
  position: relative;
  display: flex;
  .flex-away {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sum {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 99999;
    font-weight: bold;
  }
}

button {
  margin-top: 10px;
}

.first-block {
  padding: 10px;
  max-width: 750px;
  display: flex;
  position: relative;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #1b1c1d;
  z-index: 0;
  margin: 0 auto;
  border: solid 1px transparent;
}

.highlight {
  background-color: #427f00; /* or any color you prefer */
}
