<div class="win {{className}}" *ngIf="isShowAlert">
  <div class="win-text">
    {{
      {
        'es': 'Has cobrado',
        'kg': 'Сиз накталай акча алдыңыз',
        'tr': 'Kobrado vardır'
      }[locale]
    }} <br>
    <span>{{ winCoefficient.toFixed(2) }}x</span>
  </div>
  <div class="win-box">
    {{
      {
        'es': 'Win',
        'kg': 'Жеңиш',
        'tr': 'Bahis'
      }[locale]
    }} {{
      {
        'es': 'USD',
        'kg': 'USD',
        'tr': 'TRY'
      }[locale]
    }} <br>
    <span>{{ winSum.toFixed(2) }}</span>
  </div>
  <div style="margin-left: 5px;color: gray;margin-right: 5px;cursor: pointer">
    X
  </div>
</div>
<div class="first-block first-block-bet mt-20 {{className === 'win-1' ? 'mt-50' : '' }}"
     [ngClass]="{
      'orange': currentBet && currentBet!.aviator_room_id === currentGame?.id,
      'red': currentBet && (currentGame.status === 'PLAYING' || currentGame.status === 'FINISHED') && currentBet!.aviator_room_id !== currentGame?.id
    }">
  <div class="container" *ngIf="id && id2">
    <div class="tabs" style="display: flex; align-items: center; justify-content: space-around">
      <div class="tab-item l" [ngClass]="{'isActive white': currentType === 'bet'}" (click)="handleTab('bet')">{{
          {
            'es': 'Apuesta',
            'kg': 'Баасы',
            'tr': 'Bahis'
          }[locale]
        }}
      </div>
      <div class="tab-item r" [ngClass]="{'isActive white': currentType === 'auto'}" (click)="handleTab('auto')">{{
          {
            'es': 'Automático',
            'kg': 'Автоматтык',
            'tr': 'Oto'
          }[locale]
        }}
      </div>
    </div>
  </div>
  <div class="div-buttons">
    <div class="left-side">
      <div class="main-input">
        <div class="input">
          <div class="minus" (click)="subtractAmount()" [ngClass]="{'pointer-none': amount === 1}">-</div>
          <input type="number" placeholder="1.00" [(ngModel)]="amount"
                 oninput="this.value = this.value > 100 ? 100 : this.value" step="0.01" min="0" max="100" [max]="100">
          <div class="minus" (click)="addAmount()" [ngClass]="{'pointer-none': amount === 100}">+</div>
        </div>
        <div class="buttons">
          <div class="num" (click)="addAmount(1)">1</div>
          <div class="num" (click)="addAmount(2)">2</div>
          <div class="num" (click)="addAmount(5)">5</div>
          <div class="num" (click)="addAmount(10)">10</div>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div *ngIf="!currentBet" class="bet-btn green-btn" (click)="makeBet()">
        {{
          {
            'es': 'APUESTA',
            'kg': 'Баасы',
            'tr': 'Bahis'
          }[locale]
        }}<br>
        {{ amount | number: '1.2-2' }} USD
      </div>
      <div
        *ngIf="currentBet && (currentGame.status === 'PLAYING' || currentGame.status === 'FINISHED') && currentBet!.aviator_room_id !== currentGame?.id"
        class="bet-btn red-btn" (click)="cancel()">
        {{
          {
            'es': 'СANCELAR',
            'kg': 'Чыгаруу',
            'tr': 'İPTAL'
          }[locale]
        }}
      </div>
      <div *ngIf="currentBet && currentBet!.aviator_room_id === currentGame?.id" class="bet-btn orange-btn"
           (click)="withDraw()">
        {{
          {
            'es': 'COBRAR',
            'kg': 'Акы',
            'tr': 'Nakit çekme'
          }[locale]
        }} <br> {{ (amount * startCoefficient).toFixed(2) }} USD
      </div>
    </div>
  </div>
  <ng-container *ngIf="showAuto">
    <div class="auto-play" style="align-items: center">
      <div class="btn-auto-play" style="text-align: center; font-size: 13px">
        {{
          {
            'es': 'Auto reproducción',
            'kg': 'Авто ойнотуу',
            'tr': 'Otomatik çoğaltma'
          }[locale]
        }}
      </div>
      <div class="auto-cash-out">
        <div class="label">
          {{
            {
              'es': 'Cobro automático',
              'kg': 'Автоматтык чогултуу',
              'tr': 'Otomatik toplama'
            }[locale]
          }}
        </div>
        <label class="toggle-switch">
          <input type="checkbox" [(ngModel)]="isChecked" (change)="handleCheckbox($event)">
          <div class="toggle-switch-background">
            <div class="toggle-switch-handle"></div>
          </div>
        </label>
      </div>
      <div class="input">
        <input type="number" [(ngModel)]="inputCoeff" (ngModelChange)="handleInputCoeff($event)" step="0.01" min="0">
      </div>
    </div>
  </ng-container>
</div>

