.win-1 {
  margin-top: -70vh;
}
.win-2 {
  margin-top: -59vh;
}

.win {
  cursor: default;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  color: white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-color: #123405;
  border: 1px solid #427f00;
  border-radius: 26px;
  padding: 5px;
  .win-text {
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
    span {
      font-size: 20px;
    }
  }
  .win-box {
    text-align: center;
    border-radius: 26px;
    background-color: #427f00;
    font-size: 16px;
    margin-left: auto;
    padding: 5px 10px;
    width: 150px;
    span {
      font-size: 20px;
    }
  }
}


.first-block {
  padding: 10px;
  max-width: 750px;
  display: flex;
  position: relative;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #1b1c1d;
  z-index: 0;
  margin: 0 auto;
  border: solid 1px transparent;
}

.container {
  margin-top: 10px;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}

.tabs {
  display: flex;
  position: relative;
  background-color: rgb(44, 45, 48);
  width: 202px;
  border-radius: 99px;
}

.red-btn {
  background-color: #cb011A;
  border: none;
}

.orange-btn {
  background-color: #D07206;
  border: none;
}

.green-btn {
  border: solid 1px #b2f2a3;
  background-color: #28a909;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50%;
  font-size: .8rem;
  color: #9ea0a3;
  font-weight: 500;
  border-radius: 99px;
  transition: color 0.15s ease-in;
}

.container input[type="radio"]:checked + label {
  color: #ffff;
  z-index: 4;
}

.container input[id="radio1"]:checked ~ .glider {
  transform: translateX(0);
}

.container input[id="radio2"]:checked ~ .glider {
  transform: translateX(100%);
}

.container input[id="radio-3"]:checked ~ .glider {
  transform: translateX(0);
}

.container input[id="radio-4"]:checked ~ .glider {
  transform: translateX(100%);
}


.div-buttons {
  display: flex;
  width: 100%;
  max-width: 450px;
  margin-top: 20px;
  padding: 10px;
  .left-side {
    display: flex;
    justify-content: end;
    width: 100%;
    .main-input {
      width: 90%;

      .input {
        display: flex;
        background-color: black;
        width: 131px;
        input {
          text-align: center;
          width: 90px;
          border: 0;
          background: transparent;
          color: #fff;
          letter-spacing: -.1em;
          padding: 0;
        }
        .minus {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 1px solid white;
          color: white;
          background-color: transparent;
        }
      }
      .buttons {
        cursor: pointer;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        .num {
          text-align: center;
          color: white;
          border-radius: 100px;
          width: 64px;
          height: 18px;
          background-color: #141516;
          opacity: 0.8;
        }
      }
    }
  }
  .right-side {
    width: 130%;
    .bet-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      font-size: 20px;
      box-shadow: inset 0 1px 1px #ffffff80;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
      border-radius: 20px;
      padding: .375rem .75rem;
    }
  }
}

.auto-play {
  cursor: pointer;
  border-top: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .auto-cash-out {
    display: flex;
    margin-top: 10px;
    color: #9ea0a3;
    .label {
      margin-right: 5px;
    }
  }
  .btn-auto-play {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d7aca;
    color: #ffffff;
    font-size: 12px;
    border-radius: 17px;
    width: 100px;
  }
  .input {
    margin-top: 10px;
    display: flex;
    background-color: black;
    width: 54px;
    border-radius: 22px;
    input {
      height: 25px;
      text-align: center;
      width: 54px;
      border: 0;
      background: transparent;
      color: #fff;
      letter-spacing: -.1em;
      padding: 0;
    }
  }
}

.glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 50%;
  z-index: 1;
  transition: 0.25s ease-out;
  background-color: gray;
  border-radius: 10px;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}



.radio-inputs .radio input[id="id1-auto"]:checked + .name {
  background-color: red;
  font-weight: 600;
}

.radio-inputs .radio input[id="id2-apuesta"]:checked + .name {
  background-color: red;
  font-weight: 600;
}

.radio-inputs .radio input:checked + .name {
  background-color: red;
  font-weight: 600;
}

.tabs {
  width: 202px;
  height: 22px;
  background-color: #141516;
  border-radius: 10px;
}

.isActive {
  background-color: rgb(44, 45, 48);
  border-radius: 10px;
}

.l {
  //padding-left: 20px;
}

.r {
  //padding-right: 20px;
}

.tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #9ea0a3;
}
