<div class="container">
  <div class="title">Admin panel</div>
  <div class="body-12">
    <div class="input" style="width: 100%">
      <mat-form-field class="example-chip-list" style="width: 100%;">
        <mat-chip-grid #chipGrid aria-label="Enter fruits">
          <mat-chip-row *ngFor="let fruit of fruits"
                        (removed)="remove(fruit)"
                        [editable]="true"
                        (edited)="edit(fruit, $event)"
                        [aria-description]="'press enter to edit ' + fruit.name">
            {{fruit}}
            <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input type="number" [matChipInputFor]="chipGrid"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)"/>
        </mat-chip-grid>
      </mat-form-field>
    </div>
    <div class="set-btn" style="cursor: pointer;width: 120px;text-align: center" (click)="setCoefficient()">
      Set <br> Coefficient
    </div>
    <div class="red-btn" style="cursor: pointer; text-align: center" (click)="cancel()">
      Go back
    </div>
  </div>
  <div class="body-1" style="justify-content: center;margin-top: 20px;">
    <div class="input">
      <input type="number" [(ngModel)]="balance" min="0">
    </div>
    <div class="set-btn" style="cursor: pointer; width: 120px;text-align: center" (click)="setBalance()">
      Set <br> Balance
    </div>
    <div class="red-btn" style="cursor: pointer; text-align: center" (click)="cancel()">
      Go <br> back
    </div>
  </div>
  <div class="coefficient-list body-1">
    <ng-container *ngFor="let item of coeffList">
      <div class="item-coeff">
        {{item.coeffient.toFixed(2)}}
      </div>
    </ng-container>
  </div>
</div>
