<div class="container">
  <div class="title">Admin panel</div>
  <div class="body-1">
    <div class="input">
      <input type="number" [(ngModel)]="coefficient" step="0.01" min="0">
    </div>
    <div class="set-btn" (click)="setCoefficient()">
      Set Coefficient
    </div>
    <div class="red-btn" (click)="cancel()">
      Go back
    </div>
  </div>
  <div class="coefficient-list body-1">
    <ng-container *ngFor="let item of coeffList">
      <div class="item-coeff">
        {{item}}
      </div>
    </ng-container>
  </div>
</div>
