/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

.pointer-none {
  pointer-events: none;
  opacity: 0.5;
}

.low {
  color: rgb(52, 180, 255);
}

.middle {
  color: rgb(145, 62, 248);
}

.high {
  color: rgb(192, 23, 180);
}

table {
  border-collapse: collapse;
  width: 100%;
  tr th {
    color: #7b7b7b;
    text-align: center;
  }
  tr td {
    color: #BBBFC5;
    text-align: center;
  }
}




.toggle-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 1px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
  background-color: #05c46b;
  box-shadow: inset 0 0 0 2px #04b360;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
  content: "On";
  color: #05c46b;
  right: -15px;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
  transform: translateX(15px);
}


.lottie-svg-class{
  width:calc(max(900px, 30vw))!important;
  height: calc(max(100px, 70vh))!important;
}

//.lottie-svg-class1 {
//  width:calc(max(800px, 50vw))!important;
//  height: calc(max(200px, 70vh))!important;
//}

.graph-body {
  display:flex;
  flex-direction: column;
  //height: 100vh;
  width: 70%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.coefficient {
  display: flex;
  //flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.item {
  margin: 10px;
  flex-grow: 1;
}

.graph {
  //max-height: 100vh !important;
  //height: 100vh !important;
  position: relative;
}

.flex-away {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: red;
}

.sum {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.sum.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.sum.loading span {
  font-size: 18px;
  text-align: center;
}

.sum.loading img {
  width: 50px;
  height: 50px;
}

.animation-container {
  position: relative;
  z-index: 2;
}

.background-animation {
  position: absolute;
  top: 0;
}

.sidebar {
  margin-top: 20px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {

  text-align: left;
  font-size: 12px;
}

td img{
  padding-right: 10px;
}

@media (1280px <= width <= 1444px) {
  //.coeff-list-test {
  //  width: 900px !important;
  //}
}

@media (200px <= width <= 404px) {
  #lottie-container div {
    height: 104% !important;
  }
}

@media (1000px <= width <= 1279px) {
  //.coeff-list-test {
  //  width: 750px !important;
  //}
}

@media (1150px <= width <= 2890px) {
  .graph {
    //height: 100% !important;
  }
  .lottie-new-container {
    width: 100%;
    height: 500px;
  }
  .mt-20 {
    margin-top: 20px !important;
  }
  .coeff-list-test {
    overflow: hidden;
    flex-wrap: nowrap;
    //width: 1050px;
    //max-width: 1230px;
    //min-width: 750px;
  }
  .win-1 {
    margin-top: -70vh;
  }

  .win-2 {
    margin-top: -60vh;
  }

  .bet-buttons-1 {
    margin-top: -25px;
    display: flex;
  }

  .graph-body {
    width: 100% !important;
    //height: 75vh;
  }

  .class-table {
    width: 30% !important;
    margin-top: 20px !important;
  }

  .body {
    height: 100vh !important;
  }

  .lottie-svg-class {
    width: calc(74vw) !important;
    max-width: 1750px !important;
    height: 480px !important;
    max-height: 1450px !important;
    border-left: 1px solid rgba(255, 255, 2555, .3);
    border-bottom: 1px solid rgba(255, 255, 2555, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    //border-left: 1px solid white;
    //border-bottom: 1px solid white;
  }

  .lottie-svg-class1 {
    //width: calc(100vw) !important;
    max-width: 1000px !important;
    height: 820px !important;
    max-height: 540px !important;
    // margin-top: -4px;
  }

  .lottie-svg-class1.flyaway {
    max-width: 100% !important;
  }

  .fun-mode {
    width: calc(74vw) !important;
    max-width: 1750px !important;
  }

  .opened-history {
    width: calc(74vw) !important;
    max-width: 1750px !important;
  }

  #lottie-container {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    height: 436px;
  }
}
@media (width <= 370px) {
  .lottie-svg-class1 {
    margin-top: -45px;
  }
}

@media (width <= 404px) {
  .body {
    width: 100% !important;
  }
  .header {
    // width: 113% !important;
  }
  //.lottie-svg-class1 {
  //  margin-top: -7px !important;
  //}
}

@media (280px <= width <= 450px) {

  .coefficient {
    flex-wrap: nowrap;
  }
}
@media (280px <= width <= 1150px) {
  .first-block {
    margin: 0 auto !important;
  }
  .example-margin {
    margin-top: 0 !important;
  }
  ::ng-deep .mat-mdc-progress-bar.mat-warn {
    margin-top: 0 !important;
  }
  .mt-20 {
    margin-top: 10px !important;
  }
  .mt-50 {
    //margin-top: 40px !important;
  }

  .p {
    font-size: 20px !important;
  }
  .s {
    margin-top: 30px !important;
    font-size: 60px !important;
  }
  .sum {
    font-size: 60px !important;
  }
  .loading-text {
    font-size: 20px !important;
  }

  .win-1 {
    margin-top: -30vh;
    //margin-left: 65px !important;
    left: 55% !important;
    //top: 50%;
    transform: translate(-50%,-50%);
  }

  .win-2 {
    margin-top: -40vh;
    left: 55% !important;
    transform: translate(-50%,-50%);
    //margin-left: 65px !important;
  }

  #gear {
    width: 40px !important;
    height: 40px !important;
  }

  .lottie-new-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .lottie-new-container #lottie-container {
    width: 100%;
  }
  .lottie-new-container #lottie-container {
    width: 100%;
  }
  .lottie-new-container #lottie-container:first-child{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .coeff-list-test {
    overflow: hidden;
    flex-wrap: nowrap;
    width: 342px;
  }
  .flex-away {
    top: 45% !important;
  }
  #lottie-container {
    display: flex;
    div {
      height: 100% !important;
    }
  }

  .body {
    width: 100%;
    //height: 180vh !important;
  }

  .header {
    width: 100%;
  }

  .graph-body {
    width: 100% !important;
    //height: 70vh !important;
  }

  .graph {
    height: 25vh!important;
  }

  .class-table {
    width: 90% !important;
    margin-top: 50px !important;
  }

  #lottie-container {
    //height: 23vh;
    width: 400px;
  }
  path {
    width: 100%;
  }
  .lottie-svg-class {
    margin-bottom: 50px;
    //width: calc(95vw) !important;
    width: 100% !important;
    height: 100% !important;
    //max-width: 1950px !important;
    //height: 30vh !important;
    //max-height: 550px !important;
    border-left: 1px solid rgba(255, 255, 2555, .01);
    border-bottom: 1px solid rgba(255, 255, 2555, .01);
    //-webkit-background-clip: padding-box; /* for Safari */
    //background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  }

  .lottie-svg-class1 {
    display: flex;
    height: 100% !important;
    //height: 20vh !important;
    //width: 96vw !important;
    //max-width: 400px !important;
    //height: 30vh !important;
    //max-height: 800px !important;
  }

  .fun-mode {
    width: calc(95vw) !important;
    max-width: 1950px !important;
  }

  .opened-history {
    width: calc(85vw) !important;
    max-width: 1950px !important;
  }
  .powered {
    width: 90% !important;
  }
}

@media (min-width: 1150px) {

  .body {
    flex-direction: row-reverse;
  }

  .class-table {
    margin-top: 0 !important;
  }

  .graph-body {
    width: 100%;
  }

  .main-content {
    width: 70%;
  }

  .sidebar {
    width: 30%;
  }
}

table {
  border-collapse: separate;
  border-spacing: 0px 6px;
  .left-radius {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  .right-radius {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.powered {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 355px;
  background-color: #000;
  border: 1px solid #2a2b2e;
  font-size: 11px;
  color: #5e6269;
  left: 20px;
  height: 40px;
}

.box {
  animation: move 1s;
  //animation-play-state: paused;
  //animation-delay: var(--delay);
}

@keyframes move {
  0% {
    transform: translate(40%, 30%)
  }
  25% {
    transform: translate(50%, 30%)
  }
  50% {
    transform: translate(60%, 30%)
  }
  75% {
    transform: translate(70%, 30%)
  }
  100% {
    transform: translate(100%, 30%)
  }
}

.mdc-linear-progress__buffer-bar {
  background-color: rgb(44, 45, 48) !important;
}

.mdc-linear-progress__bar-inner {
  border-radius: 20px;
  //background-color: #f44336 !important;
  //background-color: red !important;
  border-color: red !important;
}
md-progress-linear .md-container {
  height: 100px !important;
}
.mdc-linear-progress__buffer-bar {
  border-radius: 20px;
}
.mdc-linear-progress__buffer {
  border-radius: 20px;
}



.mat-mdc-progress-bar {
  border-radius: 10px;
  --mdc-linear-progress-track-height: 7px;
  --mdc-linear-progress-active-indicator-height: 7px;
}

md-progress-linear .md-container .md-bar {
  height: 100px !important;
}

//:host ::ng-deep .mat-progress-bar {
//  height: 20px !important;
//}
//
//:host ::ng-deep .mat-progress-bar .mdc-linear-progress__bar-inner {
//  border-top-width: 20px !important;
//}
//
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
